@page "/findings"
@inject IBackEndBoardRoomService _boardRoomService

<div class="container">
    @if (hasLoaded)
    {
    }
    else
    {
        <p>
            Loading...
        </p>
    }
</div>

@code {
    private bool hasLoaded = false;
    private List<Protocol> _protocols = new List<Protocol>();

    protected override async Task OnInitializedAsync()
    {
        _protocols = await _boardRoomService.GetProtocols();
        hasLoaded = true;
    }
}