@page "/findings"
@inject IBackEndBoardRoomService _boardRoomService

<Banner />

<div>
    <img src="Images/photo1.jpeg" width="500" height="600">
    <img src="Images/photo1.jpeg" width="500" height="600">
</div>