@page "/findings"
@inject IBackEndBoardRoomService _boardRoomService

<Banner />

<div>
    <img style="max-width: 100%; height: auto; " src="Images/correlation_heatmap.png">
    <img style="max-width: 100%; height: auto; " src="Images/like_follower_vs_count.png">
    <img style="max-width: 100%; height: auto; " src="Images/membership_size.png">
    <img style="max-width: 100%; height: auto; " src="Images/Engagement_With_Governance_Tweets.png">
    <img style="max-width: 100%; height: auto; " src="Images/Follower_Count.png">
    <img style="max-width: 100%; height: auto; " src="Images/Governance_Tweet_Rate.png">
    <img style="max-width: 100%; height: auto; " src="Images/Unique_Voters.png">
</div>