@page "/"

<Banner />
<div class="content-text">
    <Animate Animation="Animations.SlideUp" DurationMs="1000">
        <p>
            Incepted at BUIDLweek 2022, we're a team of 4 researching the intersection of on-chain DAO data (proposals + votes), twitter engagement data, and qualitative sentiment data in order to characterize the DAO governance landscape. 
        </p>
        <p>
            Lucia Korpas (team lead, on chain data lead) 
            Sage Shelton (qualitative data lead) 
            Strykerin (product lead)
            Son Ngyuen (off-chain data lead) 
        </p>
    </Animate>
</div>