<div class="container-fluid banner">
    <div class="row">
        <div class="col">
            <h3>
                <a class="navbar-brand" href="/" title="About DAOChem">About DAOChem</a>
            </h3>
        </div>
        <div class="col">
            <h3>
                <a class="navbar-brand" href="/findings" title="Findings">Findings</a>
            </h3>
        </div>
        <div class="col">
            <h3>DAO Directory</h3>
        </div>
    </div>
</div>