@inject IBackEndBoardRoomService _boardRoomService

<div class="container">
    @if (hasLoaded)
    {
        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="30" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                        Data="@_protocols" TItem="Protocol" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
            <Columns>
                <RadzenDataGridColumn TItem="Protocol" Property="Name" Filterable="false" Title="Protocol Name" Frozen="true" Width="70px" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="Protocol" Title="Icon" Frozen="true" Sortable="false" Filterable="false" Width="60px">
                    <Template Context="data">
                        <RadzenImage Path="@data.Icons.First().Url" style="width: 40px; height: 40px; border-radius: 8px;" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Protocol" Property="TotalProposals" Title="Total Proposals" Frozen="true" Width="140px" />
                <RadzenDataGridColumn TItem="Protocol" Property="TotalVotes" Title="Total Votes" Frozen="true" Width="140px" />
                <RadzenDataGridColumn TItem="Protocol" Property="UniqueVoters" Title="Unique Voters" Frozen="true" Width="140px" />
            </Columns>
        </RadzenDataGrid>
    }
    else
    {
        <p>
            Loading...
        </p>
    }
</div>

@code {
    private bool hasLoaded = false;
    private List<Protocol> _protocols = new List<Protocol>();

    protected override async Task OnInitializedAsync()
    {
        _protocols = await _boardRoomService.GetProtocols();
        hasLoaded = true;
    }
}